/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* @media */
$tablet: 768px;
$desktop: 1300px;

/* fonts */
$primary-font: "Montserrat", "Arial", sans-serif;
$secondary-font: "Old Standard TT", serif;

/* text color */
$primary-color: #695a59;

/* bg color */
$primary-bg-color: #343235;
$secondary-bg-color: #EEE9E6;

$card-color: #ffffff;
$color-transparent: transparent;